extends layout

block layout-content
  div.View
    h1.Banner iDelaCruz
    div.Message
      div.Title
        h3 hooy
        h1 iDelaCruz
      span.Details doobidooodiboooo
    div.NavButtons
      a(href="/user")
          div.NavButton Click 

